{{/* vim: set filetype=mustache: */}}
{{/*
Expand the name of the chart.
*/}}
{{- define "apachePhp.name" -}}
{{- default .Chart.Name .Values.nameOverride | trunc 63 | trimSuffix "-" -}}
{{- end -}}

{{/*
Create a default fully qualified app name.
We truncate at 63 chars because some Kubernetes name fields are limited to this (by the DNS naming spec).
*/}}
{{- define "apachePhp.fullname" -}}
{{- if .Values.fullnameOverride -}}
{{- .Values.fullnameOverride | trunc 63 | trimSuffix "-" -}}
{{- else -}}
{{- $name := default .Chart.Name .Values.nameOverride -}}
{{- if contains $name .Release.Name -}}
{{- .Release.Name | trunc 63 | trimSuffix "-" -}}
{{- else -}}
{{- printf "%s-%s" .Release.Name $name | trunc 63 | trimSuffix "-" -}}
{{- end -}}
{{- end -}}
{{- end -}}
{{/*
Create a default fully qualified app name.
We truncate at 63 chars because some Kubernetes name fields are limited to this (by the DNS naming spec).
*/}}
{{- define "apachePhp.master.fullname" -}}
{{- $name := default .Chart.Name .Values.nameOverride -}}
{{- $fullname := default (printf "%s-%s" .Release.Name $name) .Values.fullnameOverride -}}
{{- if .Values.replication.enabled -}}
{{- printf "%s-%s" $fullname "master" | trunc 63 | trimSuffix "-" -}}
{{- else -}}
{{- printf "%s" $fullname | trunc 63 | trimSuffix "-" -}}
{{- end -}}
{{- end -}}

{{/*
Return the appropriate apiVersion for networkpolicy.
*/}}
{{- define "apachePhp.networkPolicy.apiVersion" -}}
{{- if semverCompare ">=1.4-0, <1.7-0" .Capabilities.KubeVersion.GitVersion -}}
"extensions/v1beta1"
{{- else if semverCompare "^1.7-0" .Capabilities.KubeVersion.GitVersion -}}
"networking.k8s.io/v1"
{{- end -}}
{{- end -}}

{{/*
Create chart name and version as used by the chart label.
*/}}
{{- define "apachePhp.chart" -}}
{{- printf "%s-%s" .Chart.Name .Chart.Version | replace "+" "_" | trunc 63 | trimSuffix "-" -}}
{{- end -}}

{{/*
Return the proper apachePhp image name
*/}}
{{- define "apachePhp.image" -}}
{{- $registryName := .Values.image.registry -}}
{{- $repositoryName := .Values.image.repository -}}
{{- $tag := .Values.image.tag | toString -}}
{{/*
Helm 2.11 supports the assignment of a value to a variable defined in a different scope,
but Helm 2.9 and 2.10 doesn't support it, so we need to implement this if-else logic.
Also, we can't use a single if because lazy evaluation is not an option
*/}}
{{- if .Values.global }}
    {{- if .Values.global.imageRegistry }}
        {{- printf "%s/%s:%s" .Values.global.imageRegistry $repositoryName $tag -}}
    {{- else -}}
        {{- printf "%s/%s:%s" $registryName $repositoryName $tag -}}
    {{- end -}}
{{- else -}}
    {{- printf "%s/%s:%s" $registryName $repositoryName $tag -}}
{{- end -}}
{{- end -}}

{{/*
Return apachePhp username
*/}}
{{- define "apachePhp.username" -}}
{{- if .Values.global.apachePhp.apachePhpUsername }}
    {{- .Values.global.apachePhp.apachePhpUsername -}}
{{- else -}}
    {{- .Values.apachePhpUsername -}}
{{- end -}}
{{- end -}}


{{/*
Return apachePhp replication username
*/}}
{{- define "apachePhp.replication.username" -}}
{{- if .Values.global.apachePhp.replicationUser }}
    {{- .Values.global.apachePhp.replicationUser -}}
{{- else -}}
    {{- .Values.replication.user -}}
{{- end -}}
{{- end -}}

{{/*
Return apachePhp port
*/}}
{{- define "apachePhp.port" -}}
{{- if .Values.global.apachePhp.servicePort }}
    {{- .Values.global.apachePhp.servicePort -}}
{{- else -}}
    {{- .Values.service.port -}}
{{- end -}}
{{- end -}}

{{/*
Return apachePhp created database
*/}}
{{- define "apachePhp.database" -}}
{{- if .Values.global.apachePhp.apachePhpDatabase }}
    {{- .Values.global.apachePhp.apachePhpDatabase -}}
{{- else if .Values.apachePhpDatabase -}}
    {{- .Values.apachePhpDatabase -}}
{{- end -}}
{{- end -}}

{{/*
Return the proper apachePhp metrics image name
*/}}
{{- define "apachePhp.metrics.image" -}}
{{- $registryName :=  default "docker.io" .Values.metrics.image.registry -}}
{{- $repositoryName := .Values.metrics.image.repository -}}
{{- $tag := default "latest" .Values.metrics.image.tag | toString -}}
{{/*
Helm 2.11 supports the assignment of a value to a variable defined in a different scope,
but Helm 2.9 and 2.10 doesn't support it, so we need to implement this if-else logic.
Also, we can't use a single if because lazy evaluation is not an option
*/}}
{{- if .Values.global }}
    {{- if .Values.global.imageRegistry }}
        {{- printf "%s/%s:%s" .Values.global.imageRegistry $repositoryName $tag -}}
    {{- else -}}
        {{- printf "%s/%s:%s" $registryName $repositoryName $tag -}}
    {{- end -}}
{{- else -}}
    {{- printf "%s/%s:%s" $registryName $repositoryName $tag -}}
{{- end -}}
{{- end -}}

{{/*
Get the password secret.
*/}}
{{- define "apachePhp.secretName" -}}
{{- if .Values.global.apachePhp.existingSecret }}
    {{- printf "%s" .Values.global.apachePhp.existingSecret -}}
{{- else if .Values.existingSecret -}}
    {{- printf "%s" .Values.existingSecret -}}
{{- else -}}
    {{- printf "%s" (include "apachePhp.fullname" .) -}}
{{- end -}}
{{- end -}}

{{/*
Return true if a secret object should be created
*/}}
{{- define "apachePhp.createSecret" -}}
{{- if .Values.global.apachePhp.existingSecret }}
{{- else if .Values.existingSecret -}}
{{- else -}}
    {{- true -}}
{{- end -}}
{{- end -}}

{{/*
Get the configuration ConfigMap name.
*/}}
{{- define "apachePhp.configurationCM" -}}
{{- if .Values.configurationConfigMap -}}
{{- printf "%s" (tpl .Values.configurationConfigMap $) -}}
{{- else -}}
{{- printf "%s-configuration" (include "apachePhp.fullname" .) -}}
{{- end -}}
{{- end -}}

{{/*
Get the extended configuration ConfigMap name.
*/}}
{{- define "apachePhp.extendedConfigurationCM" -}}
{{- if .Values.extendedConfConfigMap -}}
{{- printf "%s" (tpl .Values.extendedConfConfigMap $) -}}
{{- else -}}
{{- printf "%s-extended-configuration" (include "apachePhp.fullname" .) -}}
{{- end -}}
{{- end -}}

{{/*
Get the initialization scripts ConfigMap name.
*/}}
{{- define "apachePhp.initdbScriptsCM" -}}
{{- if .Values.initdbScriptsConfigMap -}}
{{- printf "%s" (tpl .Values.initdbScriptsConfigMap $) -}}
{{- else -}}
{{- printf "%s-init-scripts" (include "apachePhp.fullname" .) -}}
{{- end -}}
{{- end -}}

{{/*
Get the initialization scripts Secret name.
*/}}
{{- define "apachePhp.initdbScriptsSecret" -}}
{{- printf "%s" (tpl .Values.initdbScriptsSecret $) -}}
{{- end -}}

{{/*
Get the metrics ConfigMap name.
*/}}
{{- define "apachePhp.metricsCM" -}}
{{- printf "%s-metrics" (include "apachePhp.fullname" .) -}}
{{- end -}}

{{/*
Get the Apache initialization configs ConfigMap name.
*/}}
{{- define "initConfig.initApacheCM" -}}
{{- if .Values.initConfigCM.apacheConfigMap -}}
{{- printf "%s" (tpl .Values.initConfigCM.apacheConfigMap $) -}}
{{- else -}}
{{- printf "%s-apache-init-configs" (include "apachePhp.env.chartNameReplace" .) -}}
{{- end -}}
{{- end -}}

{{/*
Get the Entrypoint initialization configs ConfigMap name.
*/}}
{{- define "initConfig.initEntrypointCM" -}}
{{- if .Values.initConfigCM.entrypointConfigMap -}}
{{- printf "%s" (tpl .Values.initConfigCM.entrypointConfigMap $) -}}
{{- else -}}
{{- printf "%s-entrypoint-init-configs" (include "apachePhp.env.chartNameReplace" .) -}}
{{- end -}}
{{- end -}}

{{/*
Return the proper Docker Image Registry Secret Names
*/}}
{{- define "apachePhp.imagePullSecrets" -}}
{{/*
Helm 2.11 supports the assignment of a value to a variable defined in a different scope,
but Helm 2.9 and 2.10 does not support it, so we need to implement this if-else logic.
Also, we can not use a single if because lazy evaluation is not an option
*/}}
{{- if .Values.global }}
{{- if .Values.global.imagePullSecrets }}
imagePullSecrets:
{{- range .Values.global.imagePullSecrets }}
  - name: {{ . }}
{{- end }}
{{- else if or .Values.image.pullSecrets .Values.metrics.image.pullSecrets .Values.volumePermissions.image.pullSecrets }}
imagePullSecrets:
{{- range .Values.image.pullSecrets }}
  - name: {{ . }}
{{- end }}
{{- range .Values.metrics.image.pullSecrets }}
  - name: {{ . }}
{{- end }}
{{- range .Values.volumePermissions.image.pullSecrets }}
  - name: {{ . }}
{{- end }}
{{- end -}}
{{- else if or .Values.image.pullSecrets .Values.metrics.image.pullSecrets .Values.volumePermissions.image.pullSecrets }}
imagePullSecrets:
{{- range .Values.image.pullSecrets }}
  - name: {{ . }}
{{- end }}
{{- range .Values.metrics.image.pullSecrets }}
  - name: {{ . }}
{{- end }}
{{- range .Values.volumePermissions.image.pullSecrets }}
  - name: {{ . }}
{{- end }}
{{- end -}}
{{- end -}}

{{/*
Get the readiness probe command
*/}}
{{- define "apachePhp.readinessProbeCommand" -}}
- |
{{- if (include "apachePhp.database" .) }}
  exec pg_isready -U {{ include "apachePhp.username" . | quote }} -d {{ (include "apachePhp.database" .) | quote }} -h 127.0.0.1 -p {{ template "apachePhp.port" . }}
{{- else }}
  exec pg_isready -U {{ include "apachePhp.username" . | quote }} -h 127.0.0.1 -p {{ template "apachePhp.port" . }}
{{- end }}
{{- if contains "bitnami/" .Values.image.repository }}
  [ -f /opt/bitnami/apachePhp/tmp/.initialized ] || [ -f /bitnami/apachePhp/.initialized ]
{{- end -}}
{{- end -}}

{{/*
Return  the proper Storage Class
*/}}
{{- define "apachePhp.storageClass" -}}
{{/*
Helm 2.11 supports the assignment of a value to a variable defined in a different scope,
but Helm 2.9 and 2.10 does not support it, so we need to implement this if-else logic.
*/}}
{{- if .Values.global -}}
    {{- if .Values.global.storageClass -}}
        {{- if (eq "-" .Values.global.storageClass) -}}
            {{- printf "storageClassName: \"\"" -}}
        {{- else }}
            {{- printf "storageClassName: %s" .Values.global.storageClass -}}
        {{- end -}}
    {{- else -}}
        {{- if .Values.persistence.storageClass -}}
              {{- if (eq "-" .Values.persistence.storageClass) -}}
                  {{- printf "storageClassName: \"\"" -}}
              {{- else }}
                  {{- printf "storageClassName: %s" .Values.persistence.storageClass -}}
              {{- end -}}
        {{- end -}}
    {{- end -}}
{{- else -}}
    {{- if .Values.persistence.storageClass -}}
        {{- if (eq "-" .Values.persistence.storageClass) -}}
            {{- printf "storageClassName: \"\"" -}}
        {{- else }}
            {{- printf "storageClassName: %s" .Values.persistence.storageClass -}}
        {{- end -}}
    {{- end -}}
{{- end -}}
{{- end -}}

{{/*
Renders a value that contains template.
Usage:
{{ include "apachePhp.tplValue" ( dict "value" .Values.path.to.the.Value "context" $) }}
*/}}
{{- define "apachePhp.tplValue" -}}
    {{- if typeIs "string" .value }}
        {{- tpl .value .context }}
    {{- else }}
        {{- tpl (.value | toYaml) .context }}
    {{- end }}
{{- end -}}

{{/*
Return the appropriate apiVersion for statefulset.
*/}}
{{- define "apachePhp.statefulset.apiVersion" -}}
{{- if semverCompare "<1.14-0" .Capabilities.KubeVersion.GitVersion -}}
{{- print "apps/v1beta2" -}}
{{- else -}}
{{- print "apps/v1" -}}
{{- end -}}
{{- end -}}

{{/*
Compile all warnings into a single message, and call fail.
*/}}
{{- define "apachePhp.validateValues" -}}
{{- $messages := list -}}
{{- $messages := append $messages (include "apachePhp.validateValues.ldapConfigurationMethod" .) -}}
{{- $messages := without $messages "" -}}
{{- $message := join "\n" $messages -}}

{{- if $message -}}
{{- printf "\nVALUES VALIDATION:\n%s" $message | fail -}}
{{- end -}}
{{- end -}}

{{/*
Validate values of apachePhp - If ldap.url is used then you don't need the other settings for ldap
*/}}
{{- define "apachePhp.validateValues.ldapConfigurationMethod" -}}
{{- if and .Values.ldap.enabled (and (not (empty .Values.ldap.url)) (not (empty .Values.ldap.server))) }}
apachePhp: ldap.url, ldap.server
    You cannot set both `ldap.url` and `ldap.server` at the same time.
    Please provide a unique way to configure LDAP.
    More info at https://www.apachePhp.org/docs/current/auth-ldap.html
{{- end -}}
{{- end -}}

{{/*
.Chart.Name replace -.
*/}}
{{- define "apachePhp.env.chartNameReplace" -}}
{{- printf "%s" .Release.Name | lower | trim | replace "." "-" -}}
{{- end -}}

{{/*
pvc name.
*/}}
{{- define "apachePhp.pv.name" -}}
{{ template "apachePhp.env.chartNameReplace" . }}-pv
{{- end -}}

{{/*
pvc name.
*/}}
{{- define "apachePhp.pvc.name" -}}
{{ template "apachePhp.env.chartNameReplace" . }}-pvc
{{- end -}}

{{/*
tls-dev name.
*/}}
{{- define "apachePhp.tlsDev.name" -}}
{{ template "apachePhp.env.chartNameReplace" . }}-tls-dev
{{- end -}}

{{/*
sv name.
*/}}
{{- define "apachePhp.sv.name" -}}
{{ template "apachePhp.env.chartNameReplace" . }}-sv
{{- end -}}

{{/*
secret name.
*/}}
{{- define "apachePhp.secret.name" -}}
{{ template "apachePhp.env.chartNameReplace" . }}-secret-registry
{{- end -}}

{{/*
service monitor name.
*/}}
{{- define "apachePhp.svmonitor.name" -}}
{{ template "apachePhp.env.chartNameReplace" . }}-svmonitor
{{- end -}}
